<div class="wrap">
    <h1>Export HTML Content in PDF, XLS etc in Angular</h1>
<br/>
<div class="container" id="content" #content>
    <table border="2" style="margin-left:5%;" class="table table-dark" id="sampleTable">
        <thead>
          <tr>
            <th>Date</th>
            <th>TemperatureC</th>
            <th>TemperatureF</th>
            <th>Summary</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let x of posts">
                <td>{{x.date}}</td>
                <td>{{x.temperatureC}}</td>
                <td>{{x.temperatureF}}</td>
                <td>{{x.summary}}</td>
            </tr> -->
            <tr>
                <td>{{posts[0]["date"]}}</td>
                <td>{{posts[0]["temperatureC"]}}</td>
                <td>{{posts[0]["temperatureF"]}}</td>
                <td>{{posts[0]["summary"]}}</td>
                <td>=B2+C2</td>
            </tr>
            <tr>
                <td>{{posts[1]["date"]}}</td>
                <td>{{posts[1]["temperatureC"]}}</td>
                <td>{{posts[1]["temperatureF"]}}</td>
                <td>{{posts[1]["summary"]}}</td>
                <td>=B3+C3</td>
            </tr>
            <tr>
                <td>{{posts[2]["date"]}}</td>
                <td>{{posts[2]["temperatureC"]}}</td>
                <td>{{posts[2]["temperatureF"]}}</td>
                <td>{{posts[2]["summary"]}}</td>
                <td>=B4+C4</td>
            </tr>
            <tr>
                <td>{{posts[3]["date"]}}</td>
                <td>{{posts[3]["temperatureC"]}}</td>
                <td>{{posts[3]["temperatureF"]}}</td>
                <td>{{posts[3]["summary"]}}</td>
                <td>=B5+C5</td>
            </tr>
            <tr>
                <td>{{posts[4]["date"]}}</td>
                <td>{{posts[4]["temperatureC"]}}</td>
                <td>{{posts[4]["temperatureF"]}}</td>
                <td>{{posts[4]["summary"]}}</td>
                <td>=B6+C6</td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<button type="button" class="btn btn-primary" (click)="generatePDF()">GeneratePDF</button>
<button type="button" class="btn btn-primary" (click)="generateExcel()">GenerateExcel</button>
</div>
